*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-1{
    background-color: white;
    border-radius: 10px;
    padding: 8px 15px;
    margin-top: 20px;
    color: #0f172a;
    font-weight: 500;
    border: 2px solid #0f172a;
    font-size: 16px;
}
.btn-1:hover{
    background-color: #eee;
}