*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-1{
    border: 1px solid #000;
    margin-right: 10px;
    color: #000;
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
}
.btn-2{
    border: 1px solid #000;
    margin-right: 10px;
    color: #fff;
    background-color: #334155;
    padding: 8px;
    border-radius: 5px;
}