*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.b-1{
    border: 1px solid #000;
    margin-right: 10px;
    color: #000;
    background-color: transparent;
    padding: 6px;
    border-radius: 3px;
}
.b-2{
    border: 1px solid #000;
    margin-right: 10px;
    color: #fff;
    background-color: #334155;
    padding: 6px;
    border-radius: 3px;
}